@model WasteMangement.Models.collectionSite

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>collectionSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.collectionSiteManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collectionSiteManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collectionSiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collectionSiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collectionSiteNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collectionSiteNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collectionSiteDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collectionSiteDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.community.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.community.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.collectionSiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
