@model IEnumerable<WasteMangement.Models.collectionSite>
@using WasteMangement.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DistrictAdminDashboard.cshtml";
    wwmDbEntities db = new wwmDbEntities();
    var dId = 0;
    string dname = "";
    string userID = User.Identity.GetUserId();
    var distId = (from a in db.districts
                  join b in db.districtAdmins on a.districtAdminId equals b.districtAdminId
                  where b.isDeleted == 0 && a.isDeleted == 0
                  && b.UserId == userID
                  select new
                  {
                      a.districtsId,
                      a.name
                  }).SingleOrDefault();
    if (distId != null)
    {
        dId = distId.districtsId;
        dname = distId.name;
    }
}
@if (dId != 0)
{
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <button class="btn btn-dark" data-toggle="modal" data-target="#addSite" style="color:white;font-size:medium">Add Collection Site</button>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead style="background-color:ghostwhite">
                        <tr>
                            <th class="text-center">Site Name</th>
                            <th class="text-center">Site Manager</th>

                            <th class="text-center">Site Number</th>
                            <th class="text-center">Schedule</th>
                            <th class="text-center">Community Name</th>
                           
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="edit" id="detail">
                                <td class="text-center">@item.collectionSiteName</td>
                                <td class="text-center">@item.collectionSiteManager</td>
                                <td class="text-center">@item.collectionSiteNumber</td>
                                <td class="text-center">@item.startDay between @item.startDayTimefrom@item.sstime - @item.startDayTimetill@item.sltime
                                <br /> and @item.tilDay between @item.tillDayTimefrom@item.tstime - @item.tillDayTimetill@item.tltime
                               
                                <td class="text-center">@item.communityName</td>
                                <td class="text-center">
                                    <button class="btn btn-info" data-toggle="modal" data-target="#editSite @item.collectionSiteId">Edit</button> |
                                    <button class="btn btn-primary" data-toggle="collapse" data-target="#detailSite @item.collectionSiteId">Details</button> |
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delSite @item.collectionSiteId">Delete</button>
                                </td>
                            </tr>
                            <tr id="detailSite @item.collectionSiteId" class="collapse" style="background-color: skyblue;color:black;">
                                <td colspan="9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Details</h3>
                                            @item.collectionSiteDescription
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="delSite @item.collectionSiteId" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#061435;">
                                            <center><h4 class="modal-title" style="text-align: center;font-weight: 700;color: white;">Delete Collection Site (@dname)</h4></center>
                                            <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="@Url.Action("Delete", "collectionSites", new { id = item.collectionSiteId })">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;&nbsp;&nbsp;Are you Sure you Want to delete the Site?</label>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Sure!" class="btn btn-primary" />
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Not Sure</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                               

                                <div class="modal fade" id="editSite @item.collectionSiteId" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#061435;">
                                                <h4 class="modal-title" style="text-align: center;font-weight: 700;color: white;">Edit Collection Site (@dname)</h4>
                                                <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="@Url.Action("Edit", "collectionSites")">
                                                    @Html.AntiForgeryToken()
                                                    @if (ViewBag.communities != null)
                                                    {
                                                        <div class="form-group">
                                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Select Cmmunity</label>
                                                            <select name="communitiesId" class="form-control" required>
                                                                @foreach (var item1 in ViewBag.communities)
                                                                {
                                                                    <option value="@item1.communitiesId">@item1.name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Site Name</label>
                                                        <input name="collectionSiteName" class="form-control" type="text" value="@item.collectionSiteName" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Site Number</label>
                                                        <input name="collectionSiteNumber" class="form-control" type="number" value="@item.collectionSiteNumber" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Site Manager</label>
                                                        <input name="collectionSiteManager" class="form-control" type="text" value="@item.collectionSiteManager" required>
                                                    </div>
                                                    <div class="form-group">
                                                         <div class="row">
                                                        <label class="control-label col-md-6">&nbsp;&nbsp;&nbsp;Start Day</label>
                                                        <label class="control-label col-md-6">&nbsp;&nbsp;&nbsp;End Day</label>
                                                             </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select name="startDay" class="form-control" required>
                                                                        <option value="@item.startDay">@item.startDay</option>
                                                                        @if (item.startDay != "Monday")
                                                                        {
                                                                            <option value="Monday">Monday</option>
                                                                        }
                                                                        @if (item.startDay != "Tuesday")
                                                                        {
                                                                            <option value="Tuesday">Tuesday</option>
                                                                        }
                                                                        @if (item.startDay != "Wednesday")
                                                                        {
                                                                            <option value="Wednesday">Wednesday</option>
                                                                        }
                                                                        @if (item.startDay != "Thursday")
                                                                        {
                                                                            <option value="Thursday">Thursday</option>
                                                                        }
                                                                        @if (item.startDay != "Friday")
                                                                        {
                                                                            <option value="Friday">Friday</option>
                                                                        }
                                                                        @if (item.startDay != "Saturday")
                                                                        {
                                                                            <option value="Saturday">Saturday</option>
                                                                        }
                                                                        @if (item.startDay != "Sunday")
                                                                        {
                                                                            <option value="Sunday">Sunday</option>
                                                                        }
                                                                       
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select name="tilDay" class="form-control" required>
                                                                        <option value="@item.tilDay">@item.tilDay</option>
                                                                        @if (item.startDay != "Monday")
                                                                        {
                                                                            <option value="Monday">Monday</option>
                                                                        }
                                                                        @if (item.startDay != "Tuesday")
                                                                        {
                                                                            <option value="Tuesday">Tuesday</option>
                                                                        }
                                                                        @if (item.startDay != "Wednesday")
                                                                        {
                                                                            <option value="Wednesday">Wednesday</option>
                                                                        }
                                                                        @if (item.startDay != "Thursday")
                                                                        {
                                                                            <option value="Thursday">Thursday</option>
                                                                        }
                                                                        @if (item.startDay != "Friday")
                                                                        {
                                                                            <option value="Friday">Friday</option>
                                                                        }
                                                                        @if (item.startDay != "Saturday")
                                                                        {
                                                                            <option value="Saturday">Saturday</option>
                                                                        }
                                                                        @if (item.startDay != "Sunday")
                                                                        {
                                                                            <option value="Sunday">Sunday</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Start Time</label>
                                                        <div class="row">
                                                            
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="startDayTimefrom" class="form-control" required>
                                                                        <option value="@item.startDayTimefrom">@item.startDayTimefrom</option>
                                                                        @if (item.startDayTimefrom != "1")
                                                                        {
                                                                            <option value="1">1</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "2")
                                                                        {
                                                                            <option value="2">2</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "3")
                                                                        {
                                                                            <option value="3">3</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "4")
                                                                        {
                                                                            <option value="4">4</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "5")
                                                                        {
                                                                            <option value="5">5</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "6")
                                                                        {
                                                                            <option value="6">6</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "7")
                                                                        {
                                                                            <option value="7">7</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "8")
                                                                        {
                                                                            <option value="8">8</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "9")
                                                                        {
                                                                            <option value="9">9</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "10")
                                                                        {
                                                                            <option value="10">10</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "11")
                                                                        {
                                                                            <option value="11">11</option>
                                                                        }
                                                                        @if (item.startDayTimefrom != "12")
                                                                        {
                                                                            <option value="12">12</option>
                                                                        }
                                                                    </select>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="sstime" class="form-control" required>
                                                                        <option value="@item.sstime">@item.sstime</option>
                                                                        @if (item.sstime != "AM")
                                                                        {
                                                                            <option value="AM">AM</option>
                                                                        }
                                                                       @if (item.sstime != "PM")
                                                                       {
                                                                        <option value="PM">PM</option>
                                                                       }
                                                                        
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="startDayTimetill" class="form-control" required>
                                                                        <option value="@item.startDayTimetill">@item.startDayTimetill</option>
                                                                        @if (item.startDayTimetill != "1")
                                                                        {
                                                                            <option value="1">1</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "2")
                                                                        {
                                                                            <option value="2">2</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "3")
                                                                        {
                                                                            <option value="3">3</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "4")
                                                                        {
                                                                            <option value="4">4</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "5")
                                                                        {
                                                                            <option value="5">5</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "6")
                                                                        {
                                                                            <option value="6">6</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "7")
                                                                        {
                                                                            <option value="7">7</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "8")
                                                                        {
                                                                            <option value="8">8</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "9")
                                                                        {
                                                                            <option value="9">9</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "10")
                                                                        {
                                                                            <option value="10">10</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "11")
                                                                        {
                                                                            <option value="11">11</option>
                                                                        }
                                                                        @if (item.startDayTimetill != "12")
                                                                        {
                                                                            <option value="12">12</option>
                                                                        }
                                                                    </select>

                                                                   
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="sltime" class="form-control" required>
                                                                        <option value="@item.sltime">@item.sltime</option>
                                                                        @if (item.sltime != "AM")
                                                                        {
                                                                            <option value="AM">AM</option>
                                                                        }
                                                                        @if (item.sltime != "PM")
                                                                        {
                                                                            <option value="PM">PM</option>
                                                                        }

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;End Time</label>
                                                        <div class="row">

                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="tillDayTimefrom" class="form-control" required>
                                                                        <option value="@item.tillDayTimefrom">@item.tillDayTimefrom</option>
                                                                        @if (item.tillDayTimefrom != "1")
                                                                        {
                                                                            <option value="1">1</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "2")
                                                                        {
                                                                            <option value="2">2</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "3")
                                                                        {
                                                                            <option value="3">3</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "4")
                                                                        {
                                                                            <option value="4">4</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "5")
                                                                        {
                                                                            <option value="5">5</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "6")
                                                                        {
                                                                            <option value="6">6</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "7")
                                                                        {
                                                                            <option value="7">7</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "8")
                                                                        {
                                                                            <option value="8">8</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "9")
                                                                        {
                                                                            <option value="9">9</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "10")
                                                                        {
                                                                            <option value="10">10</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "11")
                                                                        {
                                                                            <option value="11">11</option>
                                                                        }
                                                                        @if (item.tillDayTimefrom != "12")
                                                                        {
                                                                            <option value="12">12</option>
                                                                        }
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="tstime" class="form-control" required>
                                                                        <option value="@item.tstime">@item.tstime</option>
                                                                        @if (item.tstime != "AM")
                                                                        {
                                                                            <option value="AM">AM</option>
                                                                        }
                                                                        @if (item.tstime != "PM")
                                                                        {
                                                                            <option value="PM">PM</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="tillDayTimetill" class="form-control" required>
                                                                        <option value="@item.tillDayTimetill">@item.tillDayTimetill</option>
                                                                        @if (item.tillDayTimetill != "1")
                                                                        {
                                                                            <option value="1">1</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "2")
                                                                        {
                                                                            <option value="2">2</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "3")
                                                                        {
                                                                            <option value="3">3</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "4")
                                                                        {
                                                                            <option value="4">4</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "5")
                                                                        {
                                                                            <option value="5">5</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "6")
                                                                        {
                                                                            <option value="6">6</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "7")
                                                                        {
                                                                            <option value="7">7</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "8")
                                                                        {
                                                                            <option value="8">8</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "9")
                                                                        {
                                                                            <option value="9">9</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "10")
                                                                        {
                                                                            <option value="10">10</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "11")
                                                                        {
                                                                            <option value="11">11</option>
                                                                        }
                                                                        @if (item.tillDayTimetill != "12")
                                                                        {
                                                                            <option value="12">12</option>
                                                                        }
                                                                    </select>


                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <select name="tltime" class="form-control" required>
                                                                        <option value="@item.tltime">@item.tltime</option>
                                                                        @if (item.tltime != "AM")
                                                                        {
                                                                            <option value="AM">AM</option>
                                                                        }
                                                                        @if (item.tltime != "PM")
                                                                        {
                                                                            <option value="PM">PM</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Site Description</label>
                                                        <textarea rows="4" cols="61" name="collectionSiteDescription" class="form-control" required>@item.collectionSiteDescription</textarea>
                                                    </div>
                                                    <input name="collectionSiteId" value="@item.collectionSiteId" type="hidden" />
                                                    <input name="communitiesId" value="@item.communitiesId" type="hidden" />
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Update Site" class="btn btn-primary" />
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        }
                    </tbody>
                    <div class="modal fade" id="addSite" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#061435;">
                                    <h4 class="modal-title" style="text-align:center;font-weight: 700;color: white;">Add Collection Site (@dname)</h4>
                                    <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Create", "collectionSites")" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @if (ViewBag.communities != null)
                                        {
                                            <div class="form-group">
                                                <label class="control-label">&nbsp;&nbsp;&nbsp;Select Cmmunity</label>
                                                <select name="communitiesId" class="form-control" required>
                                                    @foreach (var item1 in ViewBag.communities)
                                                    {
                                                        <option value="@item1.communitiesId">@item1.name</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Site Name</label>
                                            <input name="collectionSiteName" class="form-control" type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Site Number</label>
                                            <input name="collectionSiteNumber" class="form-control" type="number" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Site Manager</label>
                                            <input name="collectionSiteManager" class="form-control" type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-md-6">&nbsp;&nbsp;&nbsp;Start Day</label>
                                                <label class="control-label col-md-6">&nbsp;&nbsp;&nbsp;End Day</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select name="startDay" class="form-control" required>
                                    
                                                                <option value="Monday">Monday</option>
                                                
                                                            
                                                                <option value="Tuesday">Tuesday</option>
                                                           
                                                                <option value="Wednesday">Wednesday</option>
                                                           
                                                                <option value="Thursday">Thursday</option>
                                                           
                                                                <option value="Friday">Friday</option>

                                                                <option value="Saturday">Saturday</option>
                                                           
                                                                <option value="Sunday">Sunday</option>
                                                     

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <select name="tilDay" class="form-control" required>
                                                           
                                                           
                                                                <option value="Monday">Monday</option>
                                                           
                                                                <option value="Tuesday">Tuesday</option>
                                                           
                                                                <option value="Wednesday">Wednesday</option>
                                                           
                                                                <option value="Thursday">Thursday</option>
                                                           
                                                                <option value="Friday">Friday</option>
                                                          
                                                                <option value="Saturday">Saturday</option>
                                                           
                                                                <option value="Sunday">Sunday</option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Start Time</label>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="startDayTimefrom" class="form-control" required>
                                                           
                                                            
                                                                <option value="1">1</option>
                                                                  <option value="2">2</option>
                                                           
                                                                <option value="3">3</option>
                                                           
                                                                <option value="4">4</option>
                                                           
                                                                <option value="5">5</option>
                                                            
                                                                <option value="6">6</option>
                                                           
                                                                <option value="7">7</option>
                                                           
                                                                <option value="8">8</option>
                                                            
                                                                <option value="9">9</option>
                                                            
                                                                <option value="10">10</option>
                                                            
                                                                <option value="11">11</option>
                                                            
                                                                <option value="12">12</option>
                                                            
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="sstime" class="form-control" required>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="startDayTimetill" class="form-control" required>
                                                           
                                                           
                                                                <option value="1">1</option>
                                                           
                                                                <option value="2">2</option>
                                                           
                                                                <option value="3">3</option>
                                                           
                                                                <option value="4">4</option>
                                                           
                                                                <option value="5">5</option>
                                                           
                                                                <option value="6">6</option>
                                                           
                                                                <option value="7">7</option>
                                                            
                                                                <option value="8">8</option>
                                                          
                                                                <option value="9">9</option>
                                                           
                                                                <option value="10">10</option>
                                                          
                                                                <option value="11">11</option>
                                                           
                                                                <option value="12">12</option>
                                                            
                                                        </select>


                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="sltime" class="form-control" required>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;End Time</label>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="tillDayTimefrom" class="form-control" required>
                                                           
                                                                <option value="1">1</option>
                                                           
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            
                                                                <option value="4">4</option>
                                                           
                                                                <option value="5">5</option>
                                                            
                                                                <option value="6">6</option>
                                                          
                                                                <option value="7">7</option>
                                                           
                                                                <option value="8">8</option>
                                                           
                                                                <option value="9">9</option>
                                                           
                                                                <option value="10">10</option>
                                                           
                                                                <option value="11">11</option>
                                                           
                                                                <option value="12">12</option>
                                                            
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="tstime" class="form-control" required>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="tillDayTimetill" class="form-control" required>
                                                            
                                                                <option value="1">1</option>
                                                            
                                                            
                                                                <option value="2">2</option>
                                                           
                                                                <option value="3">3</option>
                                                           
                                                                <option value="4">4</option>
                                                           
                                                                <option value="5">5</option>
                                                           
                                                                <option value="6">6</option>
                                                           
                                                                <option value="7">7</option>
                                                           
                                                                <option value="8">8</option>
                                                           
                                                                <option value="9">9</option>
                                                           
                                                                <option value="10">10</option>
                                                           
                                                                <option value="11">11</option>
                                                            
                                                                <option value="12">12</option>
                                                            
                                                        </select>


                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select name="tltime" class="form-control" required>
                                                            <option value="AM">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Site Description</label>
                                            <textarea rows="4" cols="61" name="collectionSiteDescription" class="form-control" required></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Add Site" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="alert alert-warning">
        <strong>Sorry!</strong> You have not assigned district yet.
    </div>
}
