@model IEnumerable<WasteMangement.Models.Fascility>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <button class="btn btn-dark" data-toggle="modal" data-target="#addFascility" style="color:white;font-size:medium">Add Fascility</button>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead style="background-color:ghostwhite">
                        <tr>
                            <th class="text-center">Fascility Name</th>
                            <th class="text-center">Waste Collection Price Per Month</th>
                            <th class="text-center">Fascility Description</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="edit" id="detail">
                                <td class="text-center">@item.Fascility_Name</td>
                                <td class="text-center">@item.WasteCollectionPricePerMonth</td>
                                @if (item.Fascility_Description.Length >= 10)
                                {
                                    <td class="text-center">@item.Fascility_Description.Substring(0, 10)....</td>
                                }
                                else
                                {
                                    <td class="text-center">@item.Fascility_Description</td>
                                }

                                <td class="text-center">
                                    <button class="btn btn-info" onclick="EditFascilityRecord(@item.Fascility_Id)">Edit</button> |
                                    <span class="btn btn-primary" style="color: white;">
                                        @Html.ActionLink("Details", "Details", new { id = item.Fascility_Id })
                                    </span> |
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delFascility">Delete</button>
                                </td>
                            </tr>
                                <div class="modal fade" id="delFascility" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#061435;">
                                                <h4 class="modal-title" style="text-align: center;font-weight: 700;color: white;">Delete Fascility</h4>
                                                <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>
                                                
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="@Url.Action("Delete", "Fascilities",new { id = item.Fascility_Id })">
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Are you Sure you Want to delete the fascility?</label>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Sure!" class="btn btn-primary" />
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Not Sure</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        }
                    </tbody>
                </table>
                @if (Model != null)
                {


                    <div class="modal fade" id="addFascility" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#061435;">
                                    <h4 class="modal-title" style="text-align:center;font-weight: 700;color: white;">Add Fascility</h4>
                                    <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>
                                    
                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Create", "Fascilities")" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Fascility Name</label>
                                            <input name="Fascility_Name" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Waste Collection Price Per Month</label>
                                            <input name="WasteCollectionPricePerMonth" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Fascility Description</label>
                                            <textarea rows="4" cols="61" name="Fascility_Description" class="form-control"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Add Fascility" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id="editFascility" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#061435;">
                                    <h4 class="modal-title" style="text-align:center;font-weight: 700;color: white;">Edit Fascility</h4>
                                    <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>
                                   
                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Edit", "Fascilities")" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Fascility Name</label>
                                            <input name="Fascility_Name" class="form-control" type="text" id="Fascility_Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Waste Collection Price Per Month</label>
                                            <input name="WasteCollectionPricePerMonth" class="form-control" type="text" id="WasteCollectionPricePerMonth">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Fascility Description</label>
                                            <textarea rows="4" cols="61" name="Fascility_Description" class="form-control" id="Fascility_Description"></textarea>
                                        </div>
                                       
                                        <div class="modal-footer">
                                            <input type="hidden" id="fascilityId" name="Fascility_Id" />
                                            <input type="submit" value="Update Fascility" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>



                }
            </div>
        </div>
    </div>
</div>
<script>
    function EditFascilityRecord(FascilityId) {
         var url = "/Fascilities/Edit/" + FascilityId;
        $("#editFascility").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                console.log(data);
                console.log(obj);
                $("#fascilityId").val(obj.Fascility_Id);
                $("#Fascility_Name").val(obj.Fascility_Name);
                $("#Fascility_Description").val(obj.Fascility_Description);
                $("#WasteCollectionPricePerMonth").val(obj.WasteCollectionPricePerMonth);

            }
        })
     }
</script>
