@using WasteMangement.Models
@model IEnumerable<WasteMangement.Models.constituency>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DistrictAdminDashboard.cshtml";
    wwmDbEntities db = new wwmDbEntities();
    var dId = 0;
    string userID = User.Identity.GetUserId();
    var distId = (from a in db.districts
                  join b in db.districtAdmins on a.districtAdminId equals b.districtAdminId
                  where b.isDeleted == 0 && a.isDeleted == 0
                  && b.UserId == userID
                  select new
                  {
                      a.districtsId
                  }).SingleOrDefault();
    if(distId != null)
    {
        dId = distId.districtsId;
    }
}
    
@if (dId != 0)
{
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <button class="btn btn-dark" data-toggle="modal" data-target="#addConstituency" style="color:white;font-size:medium">Add Constituency</button>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead style="background-color:ghostwhite">
                        <tr>
                            <th class="text-center">Constituency Name</th>
                            <th class="text-center">Constituency Description</th>
                            <th class="text-center">Constituency District</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="edit" id="detail">
                                <td class="text-center">@item.name</td>
                                @if (item.description.Length >= 10)
                                {
                                    <td class="text-center">@item.description.Substring(0, 10)....</td>
                                }
                                else
                                {
                                    <td class="text-center">@item.description</td>
                                }
                                <td class="text-center">@item.districtName</td>
                                <td class="text-center">
                                    <button class="btn btn-info" data-toggle="modal" data-target="#editConstituency @item.constituenciesId">Edit</button> |
                                    <button class="btn btn-primary" data-toggle="collapse" data-target="#detailConstituency @item.constituenciesId">Details</button> |
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delConstituency @item.constituenciesId">Delete</button>
                                </td>
                            </tr>
                            <tr id="detailConstituency @item.constituenciesId" class="collapse" style="background-color: skyblue;color:black;">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Details</h3>
                                            @item.description
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                <div class="modal fade" id="delConstituency" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#061435;">
                                                <center><h4 class="modal-title" style="text-align: center;font-weight: 700;color: white;">Delete Constituency</h4></center>
                                                <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="@Url.Action("Delete", "constutuencies", new { id = item.constituenciesId })">
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Are you Sure you Want to delete the Constituency?</label>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Sure!" class="btn btn-primary" />
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Not Sure</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <div class="modal fade" id="editConstituency @item.constituenciesId" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#061435;">
                                                <h4 class="modal-title" style="text-align: center;font-weight: 700;color: white;">Edit Constituency</h4>
                                                <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="@Url.Action("Edit", "constituencies")">
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Constituency Name</label>
                                                        <input name="name" class="form-control" value="@item.name" required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;&nbsp;&nbsp;Constituency Description</label>
                                                        <textarea rows="4" cols="61" name="description" class="form-control" required>@item.description</textarea>
                                                    </div>
                                                    <input name="constituenciesId" value="@item.constituenciesId" type="hidden" />
                                                    <input name="districtsId" value="@item.districtsId" type="hidden" />
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Update Constituency" class="btn btn-primary" />
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        }
                    </tbody>
                    <div class="modal fade" id="addConstituency" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#061435;">
                                    <h4 class="modal-title" style="text-align:center;font-weight: 700;color: white;">Add Constituency</h4>
                                    <button type="button" class="close" data-dismiss="modal" style="color: white;opacity: 1;">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Create", "constituencies")" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Constituency Name</label>
                                            <input name="name" class="form-control" type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">&nbsp;&nbsp;&nbsp;Constituency Description</label>
                                            <textarea rows="4" cols="61" name="description" class="form-control" required></textarea>
                                        </div>
                                        <input type="hidden" name="districtsId" value="@dId" />
                                        <div class="modal-footer">
                                            <input type="submit" value="Add Constituency" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="alert alert-warning">
        <strong>Sorry!</strong> You have not assigned district yet.
    </div>
}

