@using WasteMangement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    
   
}
<center><h2>@ViewBag.Title.</h2></center>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use Your account to log in.</h4>
                <hr />
                if (TempData["message"] != null)
                {
                    <div class="alert alert-warning">
                        @TempData["message"];
                    </div>
                }


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Select Role</label>
                    <div class="col-md-10 ">
                        <select name="role" required class="form-control" id="role">
                            <option value="SystemAdmin">SystemAdmin</option>
                            <option value="DistrictAdmin">DistrictAdmin</option>
                            <option value="YouthAdmin">YouthAdmin</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="districts">
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        var r = $('#role').val();
       
        $.ajax({
            url: '/Home/loadDistricts',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                dist.text("");
                data = $.parseJSON(data);
                if (data.length != 0) {
                    var dist = $('#districts');
                    $('#districts').text("");
                    if(r != "SystemAdmin")
                    {
                        
                        var notification = '<label class="col-md-2 control-label">District</label>' + '<div class="col-md-10 " >'+
                            '<select name="districtName" required class="form-control" >';
                        for (var i = 0; i < data.length; i++) {;
                                notification += '<option value="' + data[i].name + '">' + data[i].name + '</option>'
                                
                        }
                        notification += '</select></div>';
                        dist.append(notification);
                        }
                    else
                    {
                        var dist = $('#districts');
                        dist.text("");
                    }
                }
            }
        });
       
    });
</script>
<script>
    $("#role").change(function () {
        var r = $('#role').val();
         $.ajax({
            url: '/Home/loadDistricts',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                
                data = $.parseJSON(data);
                if (data.length != 0) {
                    var dist = $('#districts');
                    $('#districts').text("");
                    if(r != "SystemAdmin")
                    {
                        
                        var notification = '<label class="col-md-2 control-label">District</label>' + '<div class="col-md-10 " >'+
                        '<select name="districtName" required class="form-control" >';
                        for (var i = 0; i < data.length; i++) {
                            debugger
                                notification += '<option value="' + data[i].name + '">' + data[i].name + '</option>'
                        }
                        notification += '</select></div>';
                        dist.append(notification);
                        }
                    else
                    {
                        var dist = $('#districts');
                        dist.text("");
                    }
                }
            }
        });
    });
</script>