@model WasteMangement.Models.publicWasteBin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>publicWasteBin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.publicWasteBinName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicWasteBinName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publicWasteBinDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicWasteBinDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collectionSite.collectionSiteManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collectionSite.collectionSiteManager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.publicWasteBinId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
